# 진영별 승률 시각화
---
## 사용 라이브러리

In [1]:
import plotly.graph_objects as go
from ipywidgets import widgets
import plotly.express as px
import pandas as pd
import numpy as np

In [13]:
team_data = pd.read_csv("match_data/team_data.csv", encoding = 'cp949')
team_data

       tier  team  count  winrate
0      IRON   100  57831     48.8
1      IRON   200  60788     51.3
2    BRONZE   100  65730     51.0
3    BRONZE   200  63147     49.0
4    SILVER   100  66388     51.5
5    SILVER   200  62530     48.5
6      GOLD   100  64402     50.8
7      GOLD   200  62495     49.3
8  PLATINUM   100  59130     51.4
9  PLATINUM   200  56014     48.7

In [26]:
tier = widgets.Dropdown(
        options = list(team_data.tier.unique()),
        value = 'IRON',
        description = 'TIER:'
)
fig = go.Figure()
fig.add_trace(
    go.Pie(labels=['BLUE', 'RED'], values =[team_data.loc[team_data.tier == "IRON", "winrate"].iloc[0], 
                                           team_data.loc[team_data.tier == "IRON", "winrate"].iloc[1]] )
)
fig.update_layout(title = {"text" :"진영별 승률"})
g = go.FigureWidget(data = fig,
                   layout = fig.layout)
def validate():
    if tier.value in team_data.tier.unique():
        return True
    else:
        return False
    
def response(change):
    if validate():
        x1 = team_data.loc[team_data.tier == tier.value, "winrate"].iloc[0]
        x2 = team_data.loc[team_data.tier == tier.value, "winrate"].iloc[1]
    with g.batch_update():
        g.data[0].values = [x1, x2]
        g.layout.title.text = "진영별 승률"
tier.observe(response, names = 'value')
container = widgets.HBox([tier])
widgets.VBox([container, g])

VBox(children=(HBox(children=(Dropdown(description='TIER:', options=('IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLAT…